<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
    <style>
      .item1{
        text-decoration: none;
      }
      .item2:hover{
        color: rgb(22, 98, 165);
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><strong>&#8826;/&#8827;</strong>LoveCding</a>
          
                
                <ul class="d-flex items" style="list-style-type: none;">
                  <li class="item2"><a class="px-2 item1" href="/" style="color: #cecece;" ><i class="fa-solid fa-house-chimney px-1" style="color: #cecece;"></i>Home</a></li>
                  <li class="item2"><a class="px-2 item1" href="/Add" style="color: #c4c4c4;" ><i class="fa-solid fa-user-plus px-1" style="color: #cecece;"></i>Add User</a></li>
                  <li class="item2"><a class="px-2 item1" href="/About" style="color: #c5c5c5;" ><i class="fa-solid fa-globe px-1" style="color: #cecece;"></i>About</a></li>
                  <li class="item2"><a class="px-2 item1" href="/Contact" style="color: #c7c7c7;" ><i class="fa-regular fa-envelope px-1" style="color: #cecece;"></i>Contact</a></li>
                </ul>
        </div>
      </nav>
</body>
</html>